.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 20px 0;
}

#addExamButton{
    border: 1px solid #3f51b5;
}

#deptContainer, #yearContainer{
    padding: 0;
    margin: 0 20px;
}

#getExamButton, #addExamButton{
    height: max-content;
    height: 50px;
    width: 180px;
    font-size: 16px;
    margin: 0 10px;
    padding: 5px;
    cursor: pointer;
}

#tableContainer{
    overflow-y: scroll;
}

#examTable{
    margin: 0 auto;
    width: 90%;
    border-collapse: collapse;
}

th{
    font-size: 15px;
    font-weight: 500;
    color: #3f51b5;
    padding: 10px;
    background-color: rgb(228, 228, 228);
}

td{
    font-size: 15px;
    padding: 10px;
}

tr{
    cursor: pointer; 
    text-align: center; 
    border-bottom: 1px solid rgb(204, 204, 204);
}

tr:hover{
    background-color: rgb(248, 247, 247);
}

table th{
    width: 10rem;
}

/* nav-bar */
.nav-container{
    background-color: #3f51b5;
    height: max-content;
    width: 100%;
}
.navbar{
    padding: 0 20px;
    display: flex;
    align-items: center;
}
.navbar a{
    padding: 0 15px;
}
#nav-logo{
    width: 100px;
    height: 100px;
}
nav a:link, a:active, a:visited{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
a:hover{
    text-decoration: underline;
}

a:hover:not(#navLogo){
    text-decoration: underline;
}

.navIcon{
    height: 15px;
    width: 15px;
    padding: 0 5px;
}